.user-msg {
    position: absolute;
    top: 10vh;
    right: 3em;
    text-align: center;

    width: 250px;
    padding: 3px 10px;
    border-radius: $brdrRadius;
    border-color: $clr3;
    border-style: solid;
    border-width: 1px;
    box-shadow: inset 0 0 0.2rem $clr3;
    background-color: $clr2;
}

.success {
    color: $clr5;
}

.fail {
    color: orangered;
}