.contacts {
  justify-self: center;
  height: calc(100% - 2rem);
  width: 100%;
  display: grid;
  grid-template-rows: 5rem auto;
  margin: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: $clr3;
  border-radius: 2px;
  box-shadow: inset 0 0 0.2rem $clr3;

  .contact-list-ctn {
    display: grid;
    align-self: center;
    height: fit-content;
  }

  .contacts-header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    align-content: center;
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-color: inherit;
    box-shadow: inset 0 0 0.2rem $clr3, 0 0 0 1px rgba(0, 0, 0, 0);

    .add-btn{
        @include unified-button-style;
        
        a{
            color: inherit;
            text-decoration: none;
            color: inherit;
            font-weight: inherit;
        }
    }

    .filter {
        >* {
            @include unified-txt-input-style;
        }

        input {
            
            margin-inline-end: 1rem;
        }

        select {
            @include unified-button-style;
            text-align: center;
            
            option {
                background-color: $clr0;
                color: $clr5;
            }
        }
       
    }
  }

  
}


