.home {
  display: grid;
  align-items: center;
  justify-content: center;
  .basic-data-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .title {
      grid-column: 1;
      font-size: 1.2rem;
      font-weight: 500;
      color: $clr5;
    }

    .val {
      grid-column: 2;
      font-size: 1.2rem;
      font-weight: 500;
      color: $clr3;
    }
  }
}
