.main-layout {
    display: grid;
    grid-template-columns: $mainInlineMargins 1fr $mainInlineMargins;

    >*:not(.full){
        grid-column: 2;
    }
    > .full{
        grid-column: 1 / -1;
    }
}