body {
    margin: 0;
    padding: 0;
    
    height: 100vh;

    #app {
        .app-container {
            height: 100vh;
            .app-header{
                height: 100%;
                position: sticky;
                bottom: 0;
            }

            .app-footer{
                height: 100%;
                position: sticky;
                bottom: 0;
            }

          }

          .main-content {
            display: grid;
            align-content: center;
          }
      }
}