@mixin unified-button-style {
  height: $btnheight1;
  width: $btnwidth1;
  border-radius: $brdrRadius;
  cursor: pointer;
  background-color: $clr4;
  border-color: $clr5;
  color: $clr0;
  border-width: $btnBrdrWidth;
  box-shadow: inset 0 0 0.2rem $clr4;
  transition: all 0.3s ease-in-out;
  font-weight: 700;

  &:hover {
    background-color: $clr0;
    color: $clr5;
  }
}

@mixin unified-txt-input-style {
  padding: 0;
  margin: 0;
  outline-color: $clr4;
  outline-width: 0.5px;
  border-color: $clr5;
  border-width: 1px;
  border-radius: $brdrRadius;
  height: $btnheight1;
  color: $clr5;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  box-shadow: inset 0 0 0.2rem $clr4;
  ::placeholder {
    color: $clr3;
  }
}
