//colors
$clrTemp: #7591ef;
$clr0: rgb(252, 238, 222);
$clr1: #e7ecefff;
$clr2: #a3cef1ff;
$clr3: #8b8c89ff;
$clr4: #6096baff;
$clr5: #274c77ff;

//layout
$mainInlineMargins: 5rem;
$commonMarginPadding: 1rem;

//base
$brdrRadius: 2px;
$btnBrdrWidth: 1px;
$btnwidth1: 6.5rem;
$btnwidth2: 5.5rem;
$btnheight1: 2.5rem;
$btnheight2: 2rem;